/* developer styles go here */

h2 {
    padding: 1rem;
}

.horizontal-content {
    display: flex;
    height: calc(12.8125rem + 3rem);
    align-items: center; /* this makes the box grow vertically both up and down, instead of just down*/
    overflow: scroll;
    overflow-y: hidden;  /* hides the vertical scroll bar that you don't need*/
}


.horizontal-content > div {
    height: 11.6875rem;
    background-color: magenta;
    margin: 1rem 0.5rem;
    border-radius: 0.25rem;
    flex: 0 0 20.625rem;   /* this says grow:no shrink:no width:330px*/
}

.horizontal-content > div:hover {
    flex: 0 0 21.625rem;  
    height: 12.8125rem;
}

.movie-bg {
    margin-top: 1.5rem;
    background-image: url(../img/movie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
    background-attachment: fixed;
    background-position: bottom center;
}

.movie-bg h2 {
    color: #fff;
}

p {
    padding: 1.5rem 1rem;
    max-width: 70ch;
}



