/* developer styles go here */

h2 {
    padding: 1rem;
}

.horizontal-content {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}


.horizontal-content > div {
   
    height: 11.6875rem;
    background-color: magenta;
    margin: 1rem 0.5rem;
    border-radius: 0.25rem;
    flex: 0 0 20.625rem;   /* this says grow:no shrink:no width:330px*/
}